.heading{
    text-align: center;
    font-size: 42px;
    font-weight: 500;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,200px);
    justify-content: center;
    margin: auto;
    grid-gap: 1em;
    width: 100%;
}

.tile{
    height: 200px;
    width: 200px;
    margin: 0;
    background-color: lightgray;
    text-align: center;
    border-radius: 10px;
    
}

.image{
    height: 68%;
    max-height: 200px;
}

.car-name{
    text-transform: uppercase;
}

.height{
    height: auto;
    width: auto;
    margin-top: 2vh;
    padding: 10px;
}
.bookings{
    text-transform: uppercase;
    max-width: fit-content;
    position: relative;
    background-color: #5aaed9;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    margin: auto;
    transition-duration: 200ms;
}

.bookings:hover{
    background-color: #1c5c89;
}
.button{
    background-color: #5aaed9;
    max-width: fit-content;
    margin: auto;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    transition-duration: 200ms;
    cursor: pointer;
}

.button:hover{
    background-color: #1c5c89;
}